/*Общие стили*/
:root {
    --radius-r: 10px;
    --color-white: #fff;
    --color-black: #000;
    --color-greenMiddle: #497657;
    --transparent-block: rgba(0,0,0,0.2);
    --border-line: 1px solid #B6B6B6;
    --color-sand: #CFCFCF;
}


*{
    box-sizing: border-box;
    color: var(--color-black);
    margin: 0;
    padding: 0;
    transition: 0.8s;
}
body{
   
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
a{
    list-style-type: none;
    text-decoration: none;
}
li{
    list-style-type: none;
}






.container{
    width: 100%;
    height: 100vh;    
}
.containerFlex{
    width: 100%;
    padding-bottom: 40px;
        
}

.welcom{
    background-image: url('../images/welcom.png');
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.titleBlock{
    margin: 20px 0;
    font-family: 'Montserrat Alternates', sans-serif;
}


@media screen and (max-width: 900px){

    .welcom{
        background-image: url('../images/welcome2.png');
    }
}